node_modules/ 
*/node_modules/ 
.env 

# Dependencies
node_modules/
dist/

# Environment files
.env
*.env
*.env.*

# Logs
*.log

# Editor & OS folders
.vscode/
.idea/
.DS_Store

# System folders
.railway/
.supabase/
